.main {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.pic {
  $size: 40;
  position: relative;
  aspect-ratio: 1.681/1;
  width: calc($size * 1rem);
  border: solid calc($size * 0.01rem) var(--color-background);
  border-width: calc($size * 0.01rem);
  border-style: solid;
}

.skill_button {
  will-change: width, height;
  position: absolute;
  cursor: pointer;
  border-radius: 2rem;
  display: grid;
  place-items: center;
  h3{
    margin: 0;
  }
}

.icons{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  .icon{
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.1s ease-in-out;
  }
  .text{
    position: absolute;
    opacity: 0;
    font-size: 0.5rem;
    transition: all 0.1s ease-in-out;
    font-family: var(--font-cursive);
  }
  &:hover{
    transition: all 0.1s ease-in-out;
    .icon{
      opacity: 0;
      transition: all 0.1s ease-in-out;
    }
    .text{
      opacity: 1;
      transition: all 0.1s ease-in-out;
    }
  }
}