.card{
  width: 100%;
  margin: 1em 0em;
  display: flex;
  transition: all ease-in-out 100ms;
  h4{
    font-size: 1.1rem;
    margin: 0;
  }
  h5{
    font-size: 1rem;
    margin: 0.5em 0em;
  }
  .date{
    font-weight: 800;
    width:25%;
    white-space: nowrap;
  }
  .info{
    width:75%;
  }
  // &:hover{
  //   transform: scale(1.01);
  //   box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  // }
}
.main{
  min-height: 70vh;
  height: 70vh;
}

.wrapper{
  width: 100%;
}

// .wrapper:hover > .card{
//   opacity:0.2;
// }
// .wrapper > .card:hover{
//   transform: scale(1.01);
//   opacity:1;
// }