.container {
    display: grid;
    place-content: center;
    width: 50%;
}

.menu {
    cursor: pointer;
    margin: 1rem 0;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: all ease-in-out 200ms;
    .arrow{
        opacity: 0;
    }
    &:nth-child(n) {
      padding: 1rem;
    }
  
    &:hover {
      text-decoration: underline;
      transform: scale(1.1);
      text-shadow: 1px;
        .arrow{
            opacity: 1;
        }
    }
  }