.main{
  margin: 0 10rem;
  padding:0 3%;
  position: relative;
  section{
    width: 100%;
  }
  .project{
    position: relative;
    margin: 1rem 0;
    width: 90%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .image{
      width: 100%;
      position: relative;
      background-color: red;
      aspect-ratio: 1/1;
      display: flex;
      margin: 1rem;
    }
    .container{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}