.pageBanner{
  position: fixed;
  bottom: 10%;
  left: 0%;
  transform: rotate(-90deg);
  transform-origin: top left;
  font-size: 3rem;
  opacity: 0.2;
  padding : 1.5rem;
  h1{
    font-family: var(--font-cursive);
    font-weight: 100;
    margin: 0;
    letter-spacing: 2rem;
  }
}

.cursor{
  animation-name: cursor;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 1060ms;

}
@keyframes cursor {
  from { opacity: 1.0; } to { opacity: 0.0; }
}