.pageBanner{
  position: absolute;
  top: 30%;
  left: 0%;
  transform: rotate(-90deg) translateY(-100%);
  font-size: 3rem;
  opacity: 0.2;
  h1{
    font-family: var(--font-cursive);
    font-weight: 100;
    margin: 0;
    padding: 0;
    letter-spacing: 2rem;
  }
}