.pageBanner {
  position: absolute;
  right: 100%;
  bottom: 80%;
  transform: rotate(-90deg);
  transform-origin: top right;
  font-size: 3rem;
  opacity: 0.2;
  padding: 1.5rem;
  z-index: 10;
  mix-blend-mode: difference;
  h1 {
    z-index: 10;
    font-size: 5rem;
    margin: 0;
    letter-spacing: 2rem;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.cursor {
  animation-name: cursor;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 1060ms;
}
@keyframes cursor {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.jumpText{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:1rem;
  div{
    cursor: context-menu;
    padding: 0 0.5rem;
  }
}


.rollDownText{
  display: flex;
  align-items: center;
  div{
    height: 3rem;
    margin: auto;
    overflow: hidden;
    ul{
      margin: 0 0.625rem;
      padding: 0;
      animation: scrollUp 4s infinite;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 3rem;
      list-style: none; 
    }
    $item-count: 5;
    @keyframes scrollUp {
      @for $i from 1 through ($item-count - 1) {
        #{($i * 25) - 10%}, #{$i * 25%} {
          transform: translateY((-100% / $item-count) * $i);
        }
      }
    }
  }
}