.pageBanner {
  position: absolute;
  right: 100%;
  bottom: 80%;
  transform: rotate(-90deg);
  transform-origin: top right;
  font-size: 3rem;
  opacity: 0.2;
  padding: 1.5rem;
  z-index: 10;
  mix-blend-mode: difference;
  h1 {
    z-index: 10;
    font-size: 5rem;
    margin: 0;
    letter-spacing: 2rem;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.cursor {
  animation-name: cursor;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 1060ms;
}
@keyframes cursor {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.jumpText{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:1rem;
  div{
    cursor: context-menu;
    padding: 0 0.5rem;
  }
}


.rollDownText{
  display: flex;
  align-items: center;
  div{
    height: 3rem;
    margin: auto;
    overflow: hidden;
    ul{
      margin: 0 0.625rem;
      padding: 0;
      animation: scrollUp 4s infinite;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 3rem;
      list-style: none; 
    }
    $item-count: 5;
    @keyframes scrollUp {
      @for $i from 1 through ($item-count - 1) {
        #{($i * 25) - 10%}, #{$i * 25%} {
          transform: translateY((-100% / $item-count) * $i);
        }
      }
    }
  }
}

.project {
  transition: all ease-in-out 300ms;
  position: relative;
  aspect-ratio: 10/1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .project__image {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(0.6);
  }

  .project__info {
    z-index: 2;
    padding-left: 5%;
    width: 100%;

    * {
      transition: all ease-in-out 300ms;
    }

    .project__date {
      font-weight: 800;
      mix-blend-mode: multiply;
    }

    .project__title {
      margin: 0.5rem 0;
      font-weight: 700;
      mix-blend-mode: multiply;
    }

    .project__description {
      font-size: 1.3rem;
      transition: all ease-in-out 300ms;
      margin: 0 1rem;
      font-weight: 400;
      opacity: 0;
    }

    .project__links {
      transition: all ease-in-out 300ms;
      display: flex;
      width: 100%;
      height: auto;
      justify-content: space-between;
      align-items: center;

      .project__tags {
        display: flex;
        flex-direction: row;
        align-items: center;

        .project__tag {
          font-weight: 800;
          margin: 0 0.5rem;
        }
      }
    }

    .project__line {
      transition: all ease-in-out 300ms;
      margin: 2rem 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-background);
    }

    // &:hover, &:focus, &:active{
    //   .project__date, .project__title{
    //     transition: all ease-in-out 300ms;
    //     transform: translateY(-3rem);
    //   }
    //   .project__description{
    //     transition: all ease-in-out 300ms;
    //     // margin: 5vh 0;
    //     opacity: 1;
    //   }
    //   .project__links, .project__line{
    //     transition: all ease-in-out 300ms;
    //     transform: translateY(3rem);
    //   }
    // }
    @media screen and (max-width: 768px) {
      .project__description {
        display: none;
      }

      &:hover,
      &:focus,
      &:active {

        .project__date,
        .project__title {
          transition: all ease-in-out 300ms;
          transform: translateY(-3rem);
        }

        .project__description {
          display: block;
          transition: all ease-in-out 300ms;
          // margin: 5vh 0;
          opacity: 1;
        }

        .project__links,
        .project__line {
          transition: all ease-in-out 300ms;
          transform: translateY(3rem);
        }
      }
    }
  }
}

.wrapper {
  width: 100%;
}

.wrapper:hover>.project {
  filter: brightness(0.5);
}

.wrapper>.project:hover {
  transform: scale(1.01);
  filter: brightness(1);
  // opacity:1;
}